@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&family=Lato:wght@100&family=Montserrat:ital,wght@0,300;1,200&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #E5E5E5;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.logo {
    width: 30px;
    height: 40px;

    margin: 40px 0px 0px 80px;
}
main {
    display: flex;
    justify-content: center;
    height: 750px;
    
}

.texto{
    outline: none;

    padding: 10% 22%;
    font-size: 32px;
    
    border: none;
}
.texto::placeholder{
    color: #0A3871;
    font-weight: bold;
}

.caja-principal{
    height: 80%;
}
.Ingresar-texto {
    width: 65%;
}

.info-accion{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.info-relevante{
    color: #495057;
    font-size: 12px;
    font-family: Inter;
    width: 55%;
    margin-bottom: 15px;
}
.signoInterrogacion {
    width: 11px;
}

.botones {
    width: 60%;
    display: flex;
    justify-content: space-around;

   gap: 8px;
}
button {
    width: 328px;
    height: 67px;
   
}

.bot-encriptar{
    background: #0A3871;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
}
.bot-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
}

.codificador {
    
    height: 80vh;
    width: 20vw;
    
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px 20px;
    text-align: center;
    border-radius: 30px;
}
.buscadora {
    align-self: center;
    width: 90%;
    height: 35%;
}
.buscadora,
.mensaje-inicial,
.contendor-texto,
.mensaje,
.bot-copiar {
  background: #FFFFFF;
}
.mensaje-inicial {
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
    padding: 35px;
}

.contendor-texto {
    width: 100%;
    height: 80%;
    overflow: auto;
    word-wrap: break-word;

    text-align:start;
    margin-top: 15px;
  }
  .mensaje{
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
    padding: 20px;
    overflow: auto;
    word-wrap: break-word;
    height: 100%;
}
.mensaje-pedir {
    background: #FFFFFF;
    font-size: 16px;
    color: #495057;
}
.bot-copiar{
    align-self: center;
    font-size: 16px;
    width: 70%;
    height: 60px;

    border-radius: 32px;

    margin: 8%;
}
@media screen and (max-width: 834px){

    header {
        height: auto;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .logo {   
        margin: 20px 0px 10px 40px;
    }

    .caja-principal{
        margin-top: 40px;
        height: auto;
    }

    .texto {
        text-align: center;
        height: auto;
        padding: 30px 20px 20px 20px;
    }
    .Ingresar-texto {
        width: 100%;
    }
    

.info-relevante{
    font-family: Inter;
    text-align: start;
    width: 80%;
    margin: 20px;
}
    .codificador { 
        height: auto;
        margin: 30px;
        padding: 10px 20px;
        width: 90%;
    }

    .mensaje-inicial {
        background: #FFFFFF;
        font-size: 24px;
        font-weight: bold;
        
        padding: 20px;
    }
    .mensaje-pedir {
        background: #FFFFFF;
        font-size: 16px;
        color: #495057;
        margin-bottom: 10px;
    }

    .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }
    .buscadora{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

